<div class="quizz__container">
    <div class="quizz__logo">
        <img src="/assets/images/profmargauxnovologo.png" height="350" alt="Logo Prof Margaux" style="height: 350px;">
        <div class="quizz__title">
            <h3>Seja Bem-Vindo - Aluno ! <br></h3>
            <p>Este é o desafio de francês da Prof. Margaux, responda as perguntas abaixo e descubra o que você seria:</p>
            <p>{{categoria}}</p>
            <div class="espace"></div>
            <h1 *ngIf=!finished>{{title}}</h1>
            <h1 *ngIf=finished>Parabéns você terminou o Teste!</h1>

        </div>
    </div>
    <div *ngIf=!finished class="quizz__questions">
        <h3 class="question__card">{{questionsSelected.question}}</h3>
    </div>
    <div *ngIf=!finished class="quizz__options">
        <p class="title__answers">Possiveis Respostas:</p>
        <div class="btn__options">
            <button 
            *ngFor="let option of questionsSelected.options; let i = index"
            (click) = "playerChoose(option.alias)"
            class="btn-option">
                {{option.name}}
            </button>

        </div>
    </div>
    <div *ngIf=finished class="quizz_results">
        <h1>O seu resultado é: </h1>
        <p>{{answersSelected}} </p>
        <button (click)= "reinitialized()" class="btn-option" style="margin-top: 15px;">Recomeçar</button>
    </div>
</div>